
body{
	background-color: gray;
}	
p{

	font-family: cursive;
}

h1{
color:white;
	background-color: orange;
	font-family: cursive;
}


title{

	color:white;
	background-color: orange;
	font-family: cursive;
}
h2{
	color: white;
	font-family: cursive;
}